@font-face {
  font-family: Proxima;
  src: url(../fonts/PROXIMA_NOVA_REGULAR.OTF);
}
@font-face {
  font-family: ProximaBold;
  src: url(../fonts/PROXIMA_NOVA_BOLD.OTF);
}
@font-face {
  font-family: ProximaLight;
  src: url(../fonts/PROXIMA_NOVA_CONDENSED_LIGHT.OTF);
}
@font-face {
  font-family: ProximaSemibold;
  src: url(../fonts/PROXIMA_NOVA_SEMIBOLD.OTF);
}
@font-face {
  font-family: Proxima;
  src: url(../fonts/PROXIMA_NOVA_REGULAR.OTF);
}
@font-face {
  font-family: ProximaBold;
  src: url(../fonts/PROXIMA_NOVA_BOLD.OTF);
}
@font-face {
  font-family: ProximaLight;
  src: url(../fonts/PROXIMA_NOVA_CONDENSED_LIGHT.OTF);
}
@font-face {
  font-family: ProximaSemibold;
  src: url(../fonts/PROXIMA_NOVA_SEMIBOLD.OTF);
}
/* RESET */
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, p {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper_fullHD {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  z-index: 2;
}
.header__logo {
  width: 310px;
  margin-right: auto;
}
.header__social ul {
  display: flex;
}
.header__social ul li {
  margin-left: 15px;
}
.header__social a {
  width: 50px;
  display: block;
}
.header__social a img {
  width: 100%;
}
.header__contacts {
  margin-left: 40px;
}
.header__contacts p {
  font-size: 16px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 1;
  margin: 0 0 10px;
}
.header__contacts a {
  font-size: 26px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 1;
}
.header__contacts a span {
  font-family: ProximaBold, sans-serif;
  font-weight: bold;
}
.header__contacts a:first-child {
  margin-bottom: 10px;
}
.header .btn {
  margin-left: 60px;
}

.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.btn {
  display: block;
  padding: 0 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #ffffff;
  line-height: 50px;
}

.btn_red {
  background: #d51c2a;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  white-space: nowrap;
}
.btn_red:hover {
  opacity: 0.8;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.s_firstScreen {
  min-height: 800px;
}
.s_firstScreen .wrapper_fullHD {
  position: absolute;
  top: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  min-height: 800px;
  overflow: hidden;
}
.s_firstScreen .wrapper_fullHD .firstScreen__bg {
  max-width: 100%;
  min-height: 800px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
}
.s_firstScreen .wrapper_fullHD .wrapper {
  position: relative;
  z-index: 2;
}

.firstScreen {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.firstScreen_left {
  width: 30%;
}
.firstScreen h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #000000;
  line-height: 65px;
  min-width: 500px;
  margin: 0 0 40px;
}
.firstScreen__subtitle {
  font-size: 34px;
  font-weight: 300;
  font-family: ProximaLight, sans-serif;
  color: #000000;
  line-height: 1;
  margin: 0 0 50px;
}
.firstScreen__subtitle__container {
  position: relative;
}
.firstScreen__subtitle__container img {
  position: absolute;
  bottom: 0;
  left: 100%;
}
.firstScreen__conditions li {
  display: flex;
  margin-bottom: 50px;
}
.firstScreen__conditions__icon {
  width: 90px;
  height: 90px;
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.firstScreen__conditions__icon img {
  width: 55px;
  -o-object-fit: contain;
  object-fit: contain;
  min-height: auto;
}
.firstScreen__conditions__content {
  font-size: 16px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 20px;
  max-width: 180px;
}
.firstScreen__conditions__content p {
  margin: 0;
}
.firstScreen__conditions__content p.firstScreen__conditions__content__title {
  margin-bottom: 10px;
}
.firstScreen__conditions__content__title {
  font-size: 24px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #000000;
  line-height: 30px;
}
.firstScreen__conditions__content__title span {
  color: #d51c2a;
}
.firstScreen_right {
  width: 390px;
  text-align: center;
  padding: 60px 30px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.firstScreen_right img {
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: 2;
}
.firstScreen_right img:nth-child(2) {
  right: -45px;
  bottom: 50px;
}
.firstScreen_right__title {
  font-size: 34px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #ffffff;
  line-height: 1;
  margin: 0 0 30px;
  z-index: 3;
  position: relative;
}
.firstScreen_right__subtitle {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 300;
  font-family: ProximaLight, sans-serif;
  color: #ffffff;
  line-height: 26px;
  position: relative;
  z-index: 3;
}
.firstScreen_right__subtitle span {
  font-family: ProximaBold, sans-serif;
  font-weight: bold;
}
.firstScreen_right form {
  position: relative;
  z-index: 3;
  margin-bottom: 30px;
}
.firstScreen_right form li {
  margin-bottom: 20px;
}
.firstScreen_right form input {
  width: 100%;
}
.firstScreen__man {
  position: absolute;
  bottom: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  max-height: 480px;
}
.firstScreen__btn {
  width: 100px;
  position: absolute;
  z-index: 4;
  left: 50%;
  -moz-transform: translate(-50%, 25%);
  -ms-transform: translate(-50%, 25%);
  -o-transform: translate(-50%, 25%);
  -webkit-transform: translate(-50%, 25%);
  transform: translate(-50%, 25%);
  bottom: 0;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.firstScreen__btn:hover {
  -moz-transform: translate(-50%, 25%) scale(1.2);
  -ms-transform: translate(-50%, 25%) scale(1.2);
  -o-transform: translate(-50%, 25%) scale(1.2);
  -webkit-transform: translate(-50%, 25%) scale(1.2);
  transform: translate(-50%, 25%) scale(1.2);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.firstScreen__btn img {
  width: 100%;
}

.input_round {
  font-size: 16px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  outline: none;
  border: none;
  padding: 0 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input.btn_red {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 25px 30px rgba(213, 28, 42, 0.3);
  -moz-box-shadow: 0 25px 30px rgba(213, 28, 42, 0.3);
  box-shadow: 0 25px 30px rgba(213, 28, 42, 0.3);
}

.smallText {
  font-size: 12px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #ffffff;
  line-height: 20px;
  position: relative;
  z-index: 2;
  max-width: 200px;
  margin: 0 auto;
}

.innerTitle {
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #000000;
  line-height: 65px;
  position: relative;
}
.innerTitle::before, .innerTitle::after {
  position: absolute;
  display: block;
  top: 50%;
}
.innerTitle::before {
  content: url("../images/main/rectangle.png");
  left: 0;
  -moz-transform: translate(-110%, -60%);
  -ms-transform: translate(-110%, -60%);
  -o-transform: translate(-110%, -60%);
  -webkit-transform: translate(-110%, -60%);
  transform: translate(-110%, -60%);
}
.innerTitle::after {
  display: block;
  right: 0;
  content: url("../images/main/rectangle_rotate.png");
  -moz-transform: translate(110%, -60%);
  -ms-transform: translate(110%, -60%);
  -o-transform: translate(110%, -60%);
  -webkit-transform: translate(110%, -60%);
  transform: translate(110%, -60%);
}
.innerTitle span {
  color: #82766d;
}
.innerTitle.rectangle_center {
  width: 500px;
  margin-bottom: 80px;
}

.s_calculator, .s_terms {
  overflow: hidden;
}

.calculator {
  position: relative;
  z-index: 2;
}
.calculator__container {
  background: #f4f4f2;
  padding: 60px 60px 0;
}
.calculator__container hr {
  border: none;
  height: 1px;
  background: #ffffff;
  margin: 0 -60px;
}
.calculator__container ul {
  display: flex;
  justify-content: space-between;
}
.calculator__container li {
  position: relative;
  width: 28%;
  padding-bottom: 50px;
}
.calculator__title {
  font-size: 20px;
  font-weight: 900;
  font-family: ProximaSemibold, sans-serif;
  color: #000000;
  line-height: 26px;
  margin-bottom: 30px;
  position: relative;
}
.calculator__title p {
  text-align: center;
  padding-top: 40px;
  font-family: ProximaBold, sans-serif;
  font-weight: bold;
}
.calculator__num {
  font-size: 75px;
  font-weight: 900;
  font-family: ProximaSemibold, sans-serif;
  color: #ffffff;
  line-height: 26px;
  position: absolute;
  left: 15px;
}
.calculator__field {
  position: relative;
}
.calculator__field input {
  width: 100%;
  padding: 0 130px 0 30px;
}
.calculator__field label {
  position: absolute;
  right: 30px;
  font-size: 20px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 50px;
}
.calculator__radio {
  position: relative;
  display: flex;
}
.calculator__radio label {
  margin-right: 80px;
  font-size: 16px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 65px;
}
.calculator__radio label:hover {
  cursor: pointer;
}
.calculator__radio input {
  margin-right: 20px;
  position: relative;
  z-index: 1;
}
.calculator__radio input:hover {
  cursor: pointer;
}
.calculator_bottom {
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  background: #343a46;
  align-items: center;
}
.calculator__sum, .calculator__percent {
  font-size: 24px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #ffffff;
  line-height: 1;
}
.calculator__sum span, .calculator__percent span {
  font-family: ProximaBold, sans-serif;
  font-weight: bold;
}

.range_nums {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rangeSlider {
  margin-bottom: 10px;
}
.rangeSlider.ui-slider-horizontal {
  height: 1px;
  border: none;
  background: #d3d5d4;
}
.rangeSlider .ui-widget-header {
  height: 1px;
  border: none;
  background: #82766d;
}
.rangeSlider.ui-slider-horizontal .ui-slider-handle {
  top: -0.6em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  background: #82766d;
}
.rangeSlider.ui-slider-horizontal .ui-slider-handle:hover {
  cursor: pointer;
  background: #d51c2a !important;
}
.rangeSlider.ui-slider-horizontal .ui-slider-handle:focus, .rangeSlider.ui-slider-horizontal .ui-slider-handle:active {
  outline: none;
}

.customRadio {
  border: 5px solid #ffffff;
  width: 15px;
  height: 15px;
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}

.innerTitle.rectangle_top {
  margin-bottom: 20px;
}

.innerTitle.rectangle_top::before {
  -moz-transform: translate(35%, -115%);
  -ms-transform: translate(35%, -115%);
  -o-transform: translate(35%, -115%);
  -webkit-transform: translate(35%, -115%);
  transform: translate(35%, -115%);
}

.innerTitle.rectangle_top::after {
  -moz-transform: translate(-35%, -115%);
  -ms-transform: translate(-35%, -115%);
  -o-transform: translate(-35%, -115%);
  -webkit-transform: translate(-35%, -115%);
  transform: translate(-35%, -115%);
}

.subtitle {
  font-size: 30px;
  font-weight: 300;
  font-family: ProximaLight, sans-serif;
  color: #000000;
  line-height: 1;
  text-align: center;
}

.s_time {
  background: #f4f4f2;
  margin-top: -70px;
  position: relative;
  z-index: 1;
  padding-top: 150px;
  padding-bottom: 150px;
}

.time__container {
  position: relative;
  margin: -25px 0 0;
  text-align: center;
}
.time__item {
  display: flex;
  max-width: 450px;
  align-items: center;
  text-align: left;
  position: absolute;
}
.time__item img {
  margin-right: 20px;
  width: 150px;
}
.time__item__title {
  font-size: 24px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #000000;
  line-height: 30px;
}
.time__item__title span {
  color: #82766d;
}
.time__item p {
  font-size: 18px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 26px;
}

.time__container {
  height: 700px;
}
.time__container .first {
  top: 15%;
  left: 70%;
}
.time__container .second {
  top: 55%;
  left: 63%;
}
.time__container .third {
  bottom: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  flex-direction: column;
}
.time__container .third img {
  margin: 0 0 20px;
}
.time__container .fourth {
  top: 55%;
  right: 63%;
  flex-direction: row-reverse;
}
.time__container .fourth img {
  margin: 0 0 0 20px;
}
.time__container .fifth {
  top: 15%;
  right: 70%;
  flex-direction: row-reverse;
}
.time__container .fifth img {
  margin: 0 0 0 20px;
}

.s_requirements {
  position: relative;
  margin-top: -100px;
  z-index: 1;
  height: 1200px;
  margin-bottom: 80px;
}
.s_requirements .wrapper_fullHD > img {
  max-width: 100%;
  height: 1200px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 1;
}

.innerTitle_normal {
  font-size: 60px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #ffffff;
  line-height: 65px;
  margin-bottom: 50px;
}

.requirements {
  position: relative;
  z-index: 2;
  padding-top: 150px;
  width: 70%;
}
.requirements ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.requirements__item {
  display: flex;
  width: 30%;
}
.requirements__item img {
  width: 50px;
}
.requirements__item p {
  font-size: 24px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #ffffff;
  line-height: 30px;
}
.requirements__item p span {
  font-family: ProximaBold, sans-serif;
  font-weight: bold;
}
.requirements__subtitle {
  font-size: 30px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #ffffff;
  line-height: 40px;
  margin-bottom: 40px;
}
.requirements__list {
  list-style: disc;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-left: 15px;
}
.requirements__list li {
  color: #d51c2a;
  margin-bottom: 20px;
}
.requirements__list li:last-child {
  margin-bottom: 0;
}
.requirements__list li p {
  font-size: 18px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #ffffff;
  line-height: 1;
}
.requirements__list li p span {
  font-family: ProximaBold, sans-serif;
  font-weight: bold;
}
.requirements .btn {
  display: inline-block;
}

.s_docs {
  position: relative;
  z-index: 1;
}
.s_docs .wrapper_fullHD {
  overflow: hidden;
}

.docs {
  width: 70%;
  margin-left: auto;
  position: relative;
  padding-bottom: 110px;
}
.docs .innerTitle_normal {
  color: #000000;
  max-width: 750px;
}
.docs__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.docs__list li {
  width: 30%;
  display: flex;
}
.docs__list li img {
  width: 80px;
  margin-right: 20px;
  align-items: center;
}
.docs__list li p {
  font-size: 20px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #000000;
  line-height: 26px;
  margin: 0;
}
.docs__list li p span {
  font-family: Proxima, sans-serif;
  font-weight: normal;
}
.docs__subtitle {
  font-size: 30px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #000000;
  line-height: 40px;
  margin-bottom: 60px;
}
.docs p {
  font-size: 18px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 28px;
  margin-bottom: 40px;
}
.docs .btn {
  display: inline-block;
}
.docs__bg {
  position: absolute;
  top: 0;
  right: 93%;
  z-index: -1;
}

.s_feedback {
  height: 1130px;
  margin-bottom: 80px;
}
.s_feedback .wrapper_fullHD {
  overflow: hidden;
  height: 1130px;
  position: relative;
}
.s_feedback__bg {
  height: 1130px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 1;
}
.s_feedback .wrapper {
  position: relative;
}
.s_feedback .wrapper .s_feedback__dogs {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 3;
}

.feedback {
  position: relative;
  z-index: 2;
  padding-top: 160px;
}
.feedback .innerTitle_normal {
  color: #000000;
  margin-bottom: 100px;
}
.feedback .innerTitle_normal span {
  color: #d51c2a;
}
.feedback__slider {
  margin: 0 -10px;
}
.feedback__item {
  padding: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 10px;
  height: 400px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.feedback__item__overflow {
  overflow: hidden;
  max-height: 100%;
}
.feedback__item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.feedback__item:focus {
  outline: none;
}
.feedback__item_top {
  display: flex;
  margin-bottom: 30px;
}
.feedback__item_top__content {
  max-width: 180px;
}
.feedback__item_top img {
  margin-right: 30px;
}
.feedback__item__name {
  font-size: 20px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #000000;
  line-height: 26px;
}
.feedback__item__city {
  font-size: 15px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 26px;
}

.slick-arrow {
  border: none;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  background: #ffffff;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-size: 18px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 1;
}
.slick-arrow:hover {
  background: #d51c2a;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #ffffff;
}
.slick-arrow:focus {
  outline: none;
}
.slick-arrow.slick-next {
  right: 10px;
}
.slick-arrow.slick-prev {
  left: 10px;
}

.slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slick-dots li {
  margin: 0 5px;
}
.slick-dots li button {
  background: #ffffff;
  border: none;
  font-size: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.slick-dots li.slick-active button {
  background: #d51c2a;
}
.slick-dots li:focus {
  outline: none;
}

.slick-list {
  padding-bottom: 100px;
}

.s_terms {
  margin-bottom: 110px;
}

.terms .innerTitle_normal {
  color: #000000;
  margin-bottom: 80px;
}
.terms__container {
  display: flex;
}
.terms_left {
  width: 30%;
  padding-right: 80px;
}
.terms__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.terms__list__item {
  display: flex;
  align-items: flex-start;
}
.terms__list__item img {
  width: 40px;
  margin-right: 30px;
}
.terms__list__item a {
  font-size: 18px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #d51c2a;
  line-height: 26px;
  text-decoration: underline;
  display: block;
}
.terms__list__item a:hover {
  text-decoration: none;
}
.terms__subtitle {
  font-size: 16px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #000000;
  line-height: 26px;
  margin-bottom: 40px;
}
.terms_right {
  width: 70%;
}
.terms_right p {
  font-size: 16px;
  font-weight: bormal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 26px;
  margin-bottom: 40px;
}
.terms_right p:last-child {
  margin-bottom: 0;
}

.fileSize {
  font-size: 14px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 26px;
}

.subtitle_line {
  font-size: 14px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 1;
  text-transform: uppercase;
  color: #82766d;
  margin-bottom: 110px;
  position: relative;
  text-align: center;
}
.subtitle_line p {
  display: inline-block;
  padding: 0 20px;
  background: #ffffff;
  position: relative;
  z-index: 2;
}
.subtitle_line hr {
  position: absolute;
  top: 0;
  border: none;
  height: 1px;
  background: #82766d;
  width: 100%;
  z-index: 1;
}

.s_additional {
  margin-bottom: 110px;
}

.additional .innerTitle_normal {
  color: #000000;
  max-width: 95%;
  text-align: center;
  margin: 0 auto 80px;
}
.additional__list {
  display: flex;
  justify-content: space-between;
}
.additional__list li {
  width: 23%;
  background: #f4f4f2;
  padding: 0 30px 40px;
  text-align: center;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.additional__list li:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.17);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.17);
}
.additional__list img {
  margin-top: -30px;
  margin-bottom: 10px;
  height: 200px;
  max-width: 100%;
}
.additional__list p {
  font-size: 20px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 26px;
}
.additional__list p span {
  font-family: ProximaBold, sans-serif;
  font-weight: bold;
}

.s_map {
  height: 640px;
  position: relative;
  margin-bottom: 80px;
}
.s_map .wrapper_fullHD {
  overflow: hidden;
}
.s_map .wrapper {
  height: 640px;
  position: absolute;
  top: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.map {
  height: 100%;
  position: relative;
}
.map__address {
  background: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px;
  position: absolute;
  width: 400px;
  top: 50%;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.map__address li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.map__address li img {
  width: 20px;
  margin-right: 20px;
  padding-top: 6px;
}
.map__address__title {
  font-size: 26px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #000000;
  line-height: 32px;
  margin-bottom: 30px;
}
.map__address__info {
  font-size: 18px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 26px;
}
.map__address__info a {
  font-size: 24px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 26px;
}
.map__address__info a span {
  font-family: ProximaBold, sans-serif;
  font-weight: bold;
}
.map__address .btn {
  text-align: center;
  margin-bottom: 30px;
}
.map__social ul {
  display: flex;
  justify-content: center;
}
.map__social ul li {
  margin: 0 10px;
}
.map__social ul li a {
  display: flex;
}
.map__social ul li img {
  width: 50px;
  margin: 0;
  padding: 0;
}

footer .wrapper_fullHD {
  overflow: hidden;
}
footer .wrapper_fullHD hr {
  border: none;
  background: #82766d;
  height: 1px;
  margin: 0;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer_top img, .footer_top .footer__license, .footer_top .footer__terms {
  width: 30%;
}
.footer__license {
  display: flex;
  align-items: center;
}
.footer__license img {
  width: 50px;
  margin-right: 20px;
}
.footer__license p {
  font-size: 18px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 26px;
}
.footer__terms {
  font-size: 13px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 20px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 60px;
}
.footer_bottom > a, .footer_bottom .footer__developer {
  width: 25%;
}
.footer_bottom > p {
  width: 40%;
}
.footer_bottom a {
  color: #d51c2a;
  text-decoration: underline;
  display: inline-block;
}
.footer_bottom a:hover {
  text-decoration: none;
}

/* MODAL */
.fancybox-content {
  overflow: visible;
}

.modal {
  display: none;
}

.scroll-disable {
  overflow: hidden;
}

.fancybox-slide--html .fancybox-close-small {
  color: #82766d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: #ececec;
  transform: translate(50%, -50%);
}

.fancybox-slide--html .fancybox-close-small:hover {
  color: #d51c2a;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.modal-default {
  max-width: 400px;
  padding: 50px;
  width: 100%;
  background: #f4f4f2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.modal-default__title {
  font-size: 36px;
  font-weight: bold;
  font-family: ProximaBold, sans-serif;
  color: #000000;
  line-height: 1;
  margin-bottom: 20px;
}

.modal-default__subtitle {
  font-size: 22px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 1;
  margin-bottom: 20px;
}

.modal__personaldata {
  position: relative;
  margin: 20px 0;
  font-size: 13px;
  font-weight: normal;
  font-family: Proxima, sans-serif;
  color: #000000;
  line-height: 1;
  line-height: 1.3;
}

.modal__personaldata a {
  color: #000000;
  text-decoration: underline;
}

.modal__personaldata a:hover {
  text-decoration: none;
}

.default-form__group input {
  background: #ffffff;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  border: none;
}

.default-form__group button {
  border: none;
  outline: none;
  height: auto;
  color: #ffffff;
  width: 100%;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.default-form__group button:hover {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.default-form__input {
  font-size: 17px;
  font-weight: 900;
  font-family: ProximaSemibold, sans-serif;
  color: #82766d;
  line-height: 40px;
}

#checkRules {
  margin-right: 15px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.modal__personaldata label {
  cursor: pointer;
}

.customCheck {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  background: #ffffff;
  height: 20px;
  border: 5px solid #ffffff;
  display: none;
  top: -3px;
  left: 0;
  z-index: 1;
}

.modalNoDisplay {
  display: none;
}

/* RESPONSIVE */
@font-face {
  font-family: Proxima;
  src: url(../fonts/PROXIMA_NOVA_REGULAR.OTF);
}
@font-face {
  font-family: ProximaBold;
  src: url(../fonts/PROXIMA_NOVA_BOLD.OTF);
}
@font-face {
  font-family: ProximaLight;
  src: url(../fonts/PROXIMA_NOVA_CONDENSED_LIGHT.OTF);
}
@font-face {
  font-family: ProximaSemibold;
  src: url(../fonts/PROXIMA_NOVA_SEMIBOLD.OTF);
}
@font-face {
  font-family: Proxima;
  src: url(../fonts/PROXIMA_NOVA_REGULAR.OTF);
}
@font-face {
  font-family: ProximaBold;
  src: url(../fonts/PROXIMA_NOVA_BOLD.OTF);
}
@font-face {
  font-family: ProximaLight;
  src: url(../fonts/PROXIMA_NOVA_CONDENSED_LIGHT.OTF);
}
@font-face {
  font-family: ProximaSemibold;
  src: url(../fonts/PROXIMA_NOVA_SEMIBOLD.OTF);
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 15px;
  }

  .firstScreen_right {
    margin-right: -15px;
  }

  .time__container {
    height: auto;
    margin: 0;
    padding: 30px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .time__container > img {
    display: none;
  }

  .time__item {
    position: static;
    width: 45%;
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .time__item img {
    margin-right: 20px;
  }
  .time__item.third {
    flex-direction: row;
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .time__item.third img {
    margin-right: 20px;
  }
  .time__item.fourth, .time__item.fifth {
    flex-direction: row;
  }
  .time__item.fourth img, .time__item.fifth img {
    margin-right: 20px;
  }

  .docs__list li {
    flex-direction: column;
    align-items: center;
  }
  .docs__list li img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .docs__list li p {
    text-align: center;
  }

  .footer_bottom {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer_bottom > a {
    width: 40%;
  }
  .footer_bottom > p {
    width: 58%;
    text-align: right;
  }

  .footer__developer {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1100px) {
  .firstScreen__man {
    display: none;
  }

  .header__social ul li {
    margin-left: 10px;
  }

  .header__social a {
    width: 30px;
  }

  .header__contacts a {
    white-space: nowrap;
  }

  .calculator__container {
    padding: 30px 20px 0;
  }

  .calculator_bottom {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    background: #f4f4f2;
  }

  .header {
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .header__logo {
    margin-bottom: 20px;
  }
  .header .header__social {
    width: 30%;
  }
  .header .header__social ul {
    justify-content: flex-end;
  }
  .header .header__contacts {
    width: 50%;
  }
  .header .btn_red {
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  .s_firstScreen {
    background: #f4f4f2;
    min-height: auto;
    margin-bottom: 80px;
  }
  .s_firstScreen .wrapper_fullHD {
    position: static;
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    min-height: auto;
    overflow: visible;
  }

  .firstScreen {
    margin-top: 0;
  }
  .firstScreen h1 {
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.2;
  }
  .firstScreen_left {
    width: 45%;
  }
  .firstScreen_left .firstScreen__subtitle {
    margin: 0 10px 0;
  }
  .firstScreen_left .firstScreen__subtitle__container {
    margin-bottom: 30px;
    display: flex;
  }
  .firstScreen__bg {
    display: none;
  }
  .firstScreen__btn {
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }

  .firstScreen__subtitle__container img {
    position: static;
  }

  .firstScreen_right {
    background: #343a46;
    margin-right: 0;
  }
  .firstScreen_right img {
    display: none;
  }

  .calculator__container ul {
    flex-wrap: wrap;
  }

  .calculator__container li {
    width: 45%;
  }
  .calculator__container li:last-child {
    margin: 0 auto;
  }

  .calculator_bottom {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .calculator_bottom .btn_red {
    margin: 0 auto;
  }

  .calculator__sum {
    width: 60%;
    margin-bottom: 20px;
  }

  .sumForPay {
    width: 35%;
  }

  .s_requirements {
    background: #343a46;
    height: auto;
  }
  .s_requirements .wrapper_fullHD > img {
    display: none;
  }

  .requirements {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .docs {
    width: 100%;
  }
  .docs__bg {
    display: none;
  }

  .s_feedback {
    height: auto;
    margin-bottom: 50px;
  }
  .s_feedback .wrapper_fullHD {
    background: #f4f4f2;
    height: auto;
  }

  .s_feedback__bg {
    display: none;
  }

  .s_feedback__dogs {
    display: none;
  }

  .feedback {
    padding-top: 50px;
  }
  .feedback .slick-arrow {
    bottom: 15px;
  }
  .feedback .innerTitle_normal {
    margin-bottom: 30px;
  }

  .s_terms {
    margin-bottom: 80px;
  }

  .terms .innerTitle_normal {
    margin-bottom: 30px;
  }

  .terms__container {
    flex-direction: column-reverse;
  }

  .terms_right {
    width: 100%;
  }

  .terms__subtitle, .terms_right p:last-child {
    margin-bottom: 20px;
  }

  .terms_left {
    width: 100%;
  }

  .terms__list {
    flex-direction: row;
  }
  .terms__list__item {
    align-items: center;
    flex-direction: column;
    width: 30%;
    text-align: center;
  }
  .terms__list__item img {
    margin: 0 0 10px;
  }

  .subtitle_line {
    margin-bottom: 40px;
  }

  .innerTitle, .innerTitle_normal {
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.2;
  }

  .s_additional {
    margin-bottom: 0;
  }

  .footer__developer p {
    width: auto;
    white-space: nowrap;
  }

  .slick-dots {
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 30px;
  }

  .additional__list {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 900px) {
  .firstScreen {
    flex-wrap: wrap;
  }

  .firstScreen_left {
    width: 100%;
  }

  .firstScreen__conditions {
    display: flex;
    justify-content: space-between;
  }
  .firstScreen__conditions li {
    width: 45%;
  }

  .firstScreen_right {
    margin: 0 auto 60px;
  }

  .additional__list {
    flex-wrap: wrap;
  }
  .additional__list li {
    width: 48%;
    margin-bottom: 50px;
  }

  .innerTitle, h1, .innerTitle, .innerTitle_normal {
    font-size: 30px;
  }

  .innerTitle.rectangle_center {
    margin-bottom: 40px;
  }

  .calculator__radio {
    flex-direction: column;
  }
  .calculator__radio .calculator__radio__container:first-child .customRadio {
    top: 26%;
  }
  .calculator__radio .calculator__radio__container:last-child .customRadio {
    top: 76%;
  }

  .calculator__sum {
    margin-bottom: 0;
  }

  .calculator .btn_red {
    margin-top: 20px;
  }

  .s_time {
    margin: 0;
    padding-top: 50px;
  }

  .innerTitle.rectangle_center {
    margin-bottom: 20px;
  }

  .time__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .s_requirements {
    margin-bottom: 40px;
  }

  .requirements ul {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .requirements__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .docs__subtitle {
    margin-bottom: 30px;
  }

  .docs p {
    margin-bottom: 20px;
  }

  .terms__list {
    flex-direction: column;
  }
  .terms__list__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .s_terms {
    margin-bottom: 40px;
  }

  .s_map {
    height: auto;
    margin-bottom: 40px;
  }
  .s_map .wrapper {
    height: auto;
    position: static;
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  .map {
    padding-top: 30px;
  }

  .map__address {
    background: #f4f4f2;
    position: static;
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    margin: 0 auto;
  }

  .footer_top {
    flex-wrap: wrap;
  }

  .footer_top .footer__license {
    width: 48%;
  }

  .footer_top .footer__terms {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
  }

  .footer_bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer_bottom > a, .footer_bottom > p, .footer_bottom .footer__developer {
    width: 100%;
    text-align: center;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 640px) {
  .header {
    flex-direction: column;
  }
  .header__logo {
    max-width: 100%;
  }

  .header .header__social {
    width: auto;
  }

  .header__social ul {
    margin-bottom: 20px;
  }
  .header__social ul li:first-child {
    margin-left: 0;
  }

  .header .header__contacts {
    margin: 0 0 20px;
    width: auto;
  }

  .firstScreen h1 {
    font-size: 30px;
    min-width: 100%;
  }

  .firstScreen__conditions {
    flex-wrap: wrap;
  }
  .firstScreen__conditions li {
    width: 100%;
  }

  .firstScreen__subtitle__container {
    flex-direction: column;
  }

  .firstScreen_left .firstScreen__subtitle {
    margin-bottom: 20px;
  }

  .firstScreen__subtitle__container img {
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .innerTitle {
    width: 100% !important;
  }
  .innerTitle::after, .innerTitle::before {
    display: none;
  }

  .calculator__container li {
    width: 100%;
  }

  .calculator__radio label {
    line-height: 1.3;
  }

  .calculator__radio .calculator__radio__container:first-child .customRadio {
    top: 14%;
  }

  .calculator__radio .calculator__radio__container:last-child .customRadio {
    top: 64%;
  }

  .calculator__sum, .calculator__percent, .calculator_bottom .btn_red {
    width: 100%;
    margin-bottom: 10px;
  }

  .time__item {
    flex-direction: column;
    text-align: center;
  }
  .time__item.third, .time__item.fourth, .time__item.fifth {
    flex-direction: column;
  }

  .time__item img {
    margin: 0 0 10px !important;
  }

  .docs__list {
    flex-direction: column;
  }
  .docs__list li {
    width: 100%;
    margin-bottom: 20px;
    flex-direction: row;
  }
  .docs__list li p {
    text-align: left;
  }

  .additional__list li {
    width: 100%;
  }

  .map__address .btn {
    white-space: normal;
    padding: 15px;
    line-height: 1.3;
  }

  .map__address {
    width: 100%;
  }

  .footer_top {
    flex-direction: column;
  }

  .footer_top > img, .footer_top .footer__license, .footer_top .footer__terms {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer_top .footer__terms {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
